body{
    background-color: gray;
    text-align: center;
    
}

#start-button, button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display: inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
}

#output {
    min-height: 10px;
    margin: 20px;
    padding:6px 24px;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    box-shadow:inset 20px 1px 10px 0px #ffffff;
	background-color:#ededed;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    /* box-sizing: border-box; */
}